/* CONTACTO */

.titulo4 {
  text-decoration: underline;
  color: white;
}

.main-contacto {
  color: white;
  font-size: xx-large;
}

.footer2 {
  text-align: right;
  margin-top: 350px;
  font-size: large;
  color: white;
}
